<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}Supermercado</title>

        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <style>
            nav.navbar {
                height: 6rem !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
            }
        </style>

        {% if user.is_authenticated %}
        <a class="navbar-item is-size-5 has-text-weight-semibold" href="#" onclick="document.forms['form-id'].submit();">
            <form id="form-id" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                Logout
            </form>
        </a>
        {% else %}
        <a href="/usuarios/login/" class="navbar-item is-size-5 has-text-weight-semibold">
            Login
        </a>
        {% endif %}
    </head>

    <section class="section">
        <div class="container">
                {% block content %}
                {% endblock %}
        </div>
    </section>
    
<body>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                2024 - Supermercado
            </p>
        </div>
    </footer>
</body>
</html>